<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-YVEpKaRVLCD0KvJlJpUL_I-r9nYXxZo</string>
	<key>GCM_SENDER_ID</key>
	<string>761722898831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yesNoApp</string>
	<key>PROJECT_ID</key>
	<string>fluttertest-8d182</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest-8d182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761722898831:ios:4a569d80a6c8534c47a3fa</string>
</dict>
</plist>